page-profile {
    
    ion-avatar{
        .round {
            width: 50%;
            border-radius: 50%;
            margin: 25px auto 0 auto;
        }
    
        .custom-background {
            background-color: #333;
        }
        
    }
}
